<div class="login-container">
  <p class="title">Add book to a book club</p>
  <form class="login-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <label>Book</label>
    <select
      [(ngModel)]="selectedBook"
      name="selectedBook"
      required
      [ngClass]="{ 'invalid-input': signupForm.get('book')?.errors }"
      formControlName="book"
    >
      <option *ngFor="let book of books" [value]="book._id">
        {{ book.author }}: {{ book.title }}
      </option>
    </select>
    <div
      *ngIf="
        signupForm.get('book')?.invalid &&
        (signupForm.get('book')?.dirty || signupForm.get('book')?.touched)
      "
    >
      <p
        *ngIf="
          signupForm.get('book')?.errors &&
          (signupForm.get('book')?.errors)!['required']
        "
      >
        Name is required.
      </p>
    </div>
    <label>Club</label>
    <select
      [(ngModel)]="selectedClub"
      name="selectedClub"
      required
      [ngClass]="{ 'invalid-input': signupForm.get('club')?.errors }"
      formControlName="club"
    >
      <option *ngFor="let club of clubs" [value]="club._id">
        {{ club.name }}
      </option>
    </select>
    <div
      *ngIf="
        signupForm.get('club')?.invalid &&
        (signupForm.get('club')?.dirty || signupForm.get('club')?.touched)
      "
    >
      <p
        *ngIf="
          signupForm.get('club')?.errors &&
          (signupForm.get('club')?.errors)!['required']
        "
      >
        Name is required.
      </p>
    </div>
    <div class="buttons">
      <button type="submit">Add</button>
    </div>
  </form>
</div>
